<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的基本信息</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link charset="utf-8" href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="">

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="telephone">学号/证件号<span class="required">*</span>
            </label>
            <div class="col-sm-6">
                <input autocomplete="off" class="form-control" name="customernumber" placeholder="学号/证件号"
                       readonly="readonly" type="text">
                <!----></div>
        </div>

    </form>
</div>

</body>
</html>