<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的基本信息</title>
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <script src="webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link charset="utf-8" href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container-fluid m-4 ">
    <form class="form-horizontal " role="form">
        <div class=" form-group row m-auto">
            <label class="col-md-3 control-label">学号/证件号<span class="required">*</span>
            </label>
            <div class="col-md-9">
                <input autocomplete="off" class="form-control" name="customernumber" placeholder="学号/证件号"
                       type="text">
            </div>
        </div>
        <div class="form-group row m-auto">
            <label class="col-sm-3 control-label">姓名<span class="required">*</span>
            </label>
            <div class="col-sm-9">
                <input autocomplete="off" class="form-control" name="name" placeholder="姓名"
                       type="text">
                <!--autocomplete=off  表单功能自动完成关闭-->
                <!--readonly="readonly" 设置文本为只读-->
            </div>
        </div>
        <div class="form-group row m-auto">
            <label class="col-sm-3 control-label">所属学院</label>
            <div class="col-sm-9">
                <select class="form-control" name="college">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="form-group row m-auto">
            <label class="col-sm-3 control-label">所属专业</label>
            <div class="col-sm-9">
                <select class="form-control" name="major">
                    <option selected>请选择你的专业</option>
                    <option value="major1">专业1</option>
                    <option value="major2">专业2</option>
                    <option value="major3">专业3</option>
                </select>
                <!--option selected 默认选择-->
            </div>
        </div>
        <div class="form-group row m-auto">
            <label class="col-sm-3 control-label">年级</label>
            <div class="col-sm-6">
                <select class="form-control" name="grade">
                    <option selected>请选择你的年级</option>
                    <option value="grade">专业1</option>
                    <option value="major2">专业2</option>
                    <option value="major3">专业3</option>
                </select>
                <!--option selected 默认选择-->
            </div>
        </div>
        <div class="form-group row m-auto">
            <label class="col-sm-3 control-label">班级</label>
            <div class="col-sm-6">
                <select class="form-control" name="groupid">
                    <option selected>请选择你的班级</option>
                    <option value="groupid1">班级1</option>
                    <option value="groupid2">班级2</option>
                    <option value="groupid3">班级3</option>
                </select>
                <!--option selected 默认选择-->
            </div>
        </div>
        <div class="form-group row m-auto">
            <label class="col-sm-3 control-label">描述</label>
            <div class="col-sm-6">
                <textarea class="form-control" name="note" placeholder="个人描述" rows="7">

                </textarea></div>
        </div>
    </form>

</div>

</body>
</html>