<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.SACMapper">
  <resultMap id="BaseResultMap" type="com.demo.entity.SAC">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="student_id" jdbcType="INTEGER" property="studentId"/>
    <result column="course_id" jdbcType="INTEGER" property="courseId"/>
    <result column="score" jdbcType="REAL" property="score"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, student_id, course_id, score
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sac
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--查询所有的学生和课程-->
  <select id="selectAll" resultMap="BaseResultMap">
    select * from sac
  </select>
  <!--根据课程id查询团队成绩并按成绩排名-->
  <select id="selectTeamScoreByCid" parameterType="java.lang.Integer" resultType="com.demo.entity.Score">
    select team_id 'id',team.name 'name',sum(score) 'score'
    from sac
    left join student on sac.student_id=student.id
    left join team on team.id=student.team_id
    where sac.course_id=#{course_id,jdbcType=INTEGER}
    GROUP BY team_id
    ORDER BY score DESC
  </select>
  <!--根据课程id查询学生成绩并按成绩排名-->
  <select id="selectStudentScoreByCid" parameterType="java.lang.Integer" resultType="com.demo.entity.Score">
    select student_id 'id',student.name 'name',score
    from sac
    left join student on sac.student_id=student.id
    where sac.course_id=#{course_id,jdbcType=INTEGER}
    ORDER BY score DESC
  </select>
  <!--根据学生id查询学生已选课程-->
  <select id="selectStudentCourse" parameterType="java.lang.Integer" resultType="com.demo.entity.Course">
    select course_id 'id',name
    from sac
    left join course on sac.course_id=course.id
    where sac.Student_id=#{Student_id,jdbcType=INTEGER}
    ORDER BY course_id ASC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sac
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.entity.SAC">
    insert into sac (id, student_id, course_id, 
      score)
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, 
      #{score,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.entity.SAC">
    insert into sac
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="score != null">
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.SAC">
    update sac
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.entity.SAC">
    update sac
    set student_id = #{studentId,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER},
      score = #{score,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>